<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>tension
         point="pt.iscte.pidesco.refactor.extensionID">
     
      <extension
            point="pt.iscte.pidesco.refactor.extensionID">
         <extensionID
               class="pt.iscte.pidesco.extensionrefactortest.extensionRefactorMain">
         </extensionID>
      </extension>
 
</plugin>
